#top-bar {
    background-color: black;
    color: red;
    font-size: xx-large;
    font-weight: 600;
    padding: 10px;    
}

#search-area{
    margin-top: 13px;
    padding: 13px;
}

#search-area input{
    padding: 14px 14px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 6px;
}
#search-area span{
    background-color: red;
    padding: 9px;
    margin: 0px 3px;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}
#search-area span:hover{
    background-color: rgb(229, 36, 36, 0.5);
}

#all-vehicle{
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
}
.a-vehicle{
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.a-vehicle img{
    height: 150px;
    width: auto;
    display: block;
}

.a-vehicle div{
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 0px 10px;
}
.a-vehicle span{
    margin-left: 9px;
    font-size: large;
    font-weight: bold;
}