

header {
    background-color: #333; 
    color: white; 
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px; 
    margin: 0;
}
.vehicle-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.vehicle-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 300px;
}

.vehicle-image {
    max-width: 100%;
    height: auto;
}

.vehicle-details {
    font-size: 14px;
}

.vehicle-name {
    font-weight: bold;
}

.vehicle-cost {
    color: green;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    text-align: center;
    padding: 20px 0;
}

footer img {
    width: 150px;
    height: auto;
    border: 1px solid #fff;
}

